{{>dashboard}}

<div class="col col-lg-10" style="margin: auto auto;">
    <div class="row justify-content-center bg-grey">
      <div class="col-md-3">
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> payment </span>
                Pagamentos
            </a>
        </div>
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> request_quote </span>
                Extrato
            </a>
        </div>
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> assessment </span>
                Relatório
            </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/criar-transacao" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> add </span>
                Criar transação
            </a>
        </div>
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/listar-transacao" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> receipt_long </span>
                Transações
            </a>
        </div>
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> file_download </span>
                Exportar extrato
            </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> trending_up </span>
                Investimentos
            </a>
        </div>
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/criar-conta" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> account_balance </span>
                Conta
            </a>
        </div>
        <div class="p-4 mb-4 rounded" style="background-color: #002c6a; border-radius: 10px;">
            <a href="/editar-usuario" class="nav-link link-warning text-color" aria-current="page">
                <span class="material-icons-outlined text-color"> manage_accounts </span>
                Configurações
            </a>
        </div>
      </div>
    </div>
  </div>