{{>dashboard}}

<style>
    .text-color {
        color: #cbb26b;
    }

    .bar-color {
        background-color: #002c6a;
    }
</style>

<div class="col col-lg-5" style="margin: auto auto;">
    <div class="card text-white bar-color mb-3" style="max-width: 58rem;">
        <div class="card-header text-color">Portfólio</div>
        <div class="card-body">
            <h5 class="card-title text-color">Descrição detalhada</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <h5 class="card-title">Sobre mim:</h2>
                    <p class="card-text">
                        Sou formado em Engenharia de Software pela Universidade 
                        Tecnológica Federal do Paraná. Durante minha jornada acadêmica, 
                        tive a oportunidade de ter meu primeiro contato com programação 
                        ao participar da empresa júnior da faculdade. Foi nessa 
                        experiência que descobri minha paixão pelo desenvolvimento 
                        de software.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="card-title">Áreas de interesse:</h2>
                    <p class="card-text">
                        Ao longo do tempo, desenvolvi uma maior identificação com o 
                        desenvolvimento de back-end. Gosto de lidar com a lógica de 
                        negócios e implementar soluções robustas e escaláveis. 
                        Além disso, tenho interesse na área de Data Science, explorando 
                        a análise e interpretação de grandes volumes de dados para 
                        obter insights valiosos.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="card-title">Experiência profissional:</h2>
                    <p class="card-text">
                        Atualmente, trabalho em uma empresa com foco na otimização de 
                        dados e no sucesso do cliente. Nessa posição, tenho a 
                        oportunidade de aplicar meus conhecimentos em desenvolvimento 
                        de software e trabalhar em equipe para entregar soluções 
                        personalizadas que atendam às necessidades dos clientes. 
                        Além disso, estou envolvido em projetos de otimização de dados, 
                        buscando maneiras de melhorar a eficiência e o desempenho 
                        dos sistemas.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="card-title">Projetos:</h2>
                    <p class="card-text">
                        No meu portfolio, você encontrará uma seleção de projetos nos 
                        quais trabalhei. Esses projetos abrangem diferentes áreas, como 
                        desenvolvimento de APIs, implementação de algoritmos de machine 
                        learning e criação de soluções de otimização de dados. Fique à 
                        vontade para explorar e conhecer mais sobre o meu trabalho!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
