{{>dashboard}}

<style>
    .text-color {
        color: #cbb26b;
    }

    .bar-color {
        background-color: #002c6a;
    }
</style>

<div class="col col-lg-5" style="margin: auto auto;">
    <div class="card text-white bar-color mb-3" style="max-width: 58rem;">
  <div class="card-header text-color">Sobre</div>
  <div class="card-body">
    <h5 class="card-title text-color">Descrição detalhada</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <p class="card-text">
                O Sistema SpendSense é uma plataforma que permite aos 
                usuários registrar e acompanhar seus gastos financeiros de forma 
                simples e eficiente. Com este sistema, os usuários podem inserir, 
                excluir, listar e editar os dados de suas despesas, garantindo um 
                controle financeiro adequado.
            </p>
            <p class="card-text">
                O acesso ao sistema é controlado por login, o que garante a 
                segurança das informações pessoais e financeiras dos usuários. 
                Cada usuário tem acesso exclusivo aos seus próprios dados e pode 
                gerenciar suas despesas de acordo com suas necessidades.
            </p>
            <p class="card-text">
                Além disso, o sistema oferece recursos avançados, como geração de 
                relatórios e gráficos para análise dos gastos, categorização das 
                despesas e lembretes para pagamentos.
            </p>
            <p class="card-text">
                Com o Sistema SpendSense, você terá uma ferramenta 
                poderosa para manter suas finanças sob controle e tomar decisões 
                mais conscientes sobre seus gastos.
            </p>
        </li>
    </ul>
  </div>
</div>
</div>
